    /* цвет основного текста #757575 */
    /* вторичный цвет текста  #212121;
     /* акцент #2196F3 */
    /* цвет фона ##FFFFFF */
    /* вторичный цвет фона #F5F4FA */


    :root {
        --primary-text-color: #757575;
        --title-text-color: #212121;
        --accent-color: #2196F3;
        --primary-white-color: #FFFFFF;
        --secondary-color: #F5F4FA;
    }

    body {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.03em;
        font-size: 14px;
        line-height: 1.17;
        
        background-color: var(--primary-white-color);
        color: var(--primary-text-color);
    }
/* logo */
    .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        color: var(--accent-color);
    }

    .accent-logo {
        color: var(--title-text-color);
    }

    .accent {
        color: var(--accent-color);
    }
/* nav и address */
    .main-nav,
    .header-address {
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
    }

    .main-nav .link {
        color: var(--title-text-color);
    }

    .header-address .link {
        color: var(--primary-text-color);
    }

    .main-nav :hover,
    .main-nav :focus,
    .header-address :hover,
    .header-address :focus {
        color: var(--accent-color);
    }
    .main-nav .link.current {
        color: var(--accent-color);
    }

    
    .list {
        list-style: none;
    }

    .link {
        text-decoration: none;
    }

    /* hero */
    .hero {
        text-align: center;
        background-color: #2F303A;            /*для просмотра белого текста на герое*/
    }
    
    .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: #FFFFFF;       
    }

    .hero-btn {
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        
        color: var(--primary-white-color);
        background-color: var(--accent-color);        
    }

    .hero-btn:hover,
    .hero-btn:focus {
        background-color: #188CE8;
    }
    
    .btn {
        cursor: pointer;
    }
    .section-title,
    .title {
        color: var(--title-text-color);
    }

    .section-title {
        font-size: 36px;
        text-align: center;
        font-weight: 700;
    }

    
    /* Особенности */
    .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
    }
    
    .features .title {
        text-transform: uppercase;
    }

    .section-description {
        line-height: 1.71;
    }

    /* Чем мы занимаемся  */

    /* Наша команда */
    .team {
        background-color: var(--secondary-color);
    }
    .team .title {
        font-weight: 500;
        font-size: 16px;
    }

    .team-descr{
        font-size: 16px;
    }
    
        /* Футер  */
    .page-futer {
    background-color: #2F303A; /*для просмотра белого текста на логотипе*/
    }

    .page-futer .accent-logo,
    .futer-address {
         color: var(--primary-white-color);
    }
 
    .futer-address,
    .page-futer .address-list {
        font-style: normal;
        line-height: 1.71;
        font-weight: inherit;
    }

    .futer-address .address-link {
        color: rgba(255, 255, 255, 0.6);
    }
   
        .address-list :hover,
        .address-list :focus {
            color: var(--accent-color);
        }
        
    /* Страница Портфолио */
    /* Фильтр проектов */
    .filter-btn {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: inherit;

        color: var(--title-text-color);
        background-color: var(--secondary-color);
    }

    .filter-btn:focus,
    .filter-btn:hover {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    }

    /* Проекты */
    .project-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

        color: var(--title-text-color);
    }

    .project-group {
        font-size: 16px;
        line-height: 1.88;   
        
        color: var(--primary-text-color);
    }


